body {
    font-family: "Times New Roman", Times, serif;
    background-color: #f8f9fa;
    color: #343a40;
    margin: 0;
    padding: 0;
    background: url('/assets/img/pxfuel.jpg') no-repeat center center fixed;
    background-size: cover;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.status-bar {
    background-color: rgba(217, 211, 211, 0.9);
    color: white;
    padding: 10px;
    font-size: 2em;
    font-weight: 600;
    color: #343a40;
    position: fixed;
    width: 98.5%;
    top: 0;
    left: 3px;
    z-index: 1000;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    animation: slideDown 1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status-bar .back-button {
    background-color: #343a40;
    color: rgba(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
    position: absolute;
    left: 10px;
    top: 6px;
}

.status-bar .back-button:hover {
    transform: scale(1.05);
}

.status-bar .title {
    text-align: center;
}

.error-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 3em;
    margin: 20px 0;
    animation: fadeIn 2s ease-in-out;
}

p {
    font-size: 1.5em;
    margin: 10px 0;
    animation: fadeIn 2s ease-in-out;
}

img {
    width: 1000px;
    /* Adjust width as needed */
    height: 500px;
    /* Maintain aspect ratio */
    max-width: 100%;
    border-radius: 8px;
    display: block;
    margin: 20px auto;
    animation: zoomIn 1.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.8);
    }

    to {
        transform: scale(1);
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}