<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <!-- Sets character encoding to UTF-8 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Sets the viewport to make the website responsive -->
    <title>{{.Artist.Name}} - Artist Details</title>
    <!-- Sets the title of the artist detail page -->
    <link rel="icon" type="image/x-icon" href="{{.Artist.Image}}">
    <!-- Links to the artist's image as the favicon -->
    <link rel="stylesheet" href="/assets/CSS/styles2.css">
    <!-- Links to the external CSS file for artist detail page styling -->
</head>

<body>
    <div class="status-bar">
        <!-- Status bar container -->
        <a href="/" class="back-button">Back</a>
        <!-- Back button to navigate to the homepage -->
        <div class="title">Artist - {{.Artist.Name}}</div>
        <!-- Title within the status bar -->
    </div>
    <div class="artist-info">
        <!-- Container for artist information -->
        <div class="header">
            <!-- Header section for artist information -->
            <img src="{{.Artist.Image}}" alt="{{.Artist.Name}}" />
            <!-- Artist's image -->
            <h1>{{.Artist.Name}}</h1>
            <!-- Artist's name -->
        </div>
        <div class="details">
            <!-- Container for artist details -->
            <p><strong>Members:</strong> {{.Members}}</p>
            <!-- Artist's members -->
            <p><strong>Creation Date:</strong> {{.Artist.CreationDate}}</p>
            <!-- Artist's creation date -->
            <p><strong>First Album:</strong> {{.Artist.FirstAlbum}}</p>
            <!-- Artist's first album -->
        </div>
    </div>
    <div class="details-container">
        <!-- Container for additional details -->
        <div class="section">
            <!-- Section for concert locations and dates -->
            <h2>Concert Location & Dates</h2>
            {{range $location, $dates := .LinkedConcerts}}
            <!-- Iterates over concert locations and dates -->
            <div class="item">
                <!-- Container for single concert item -->
                <strong>{{$location}}:</strong>
                {{range $dates}}
                <!-- Iterates over dates for a location -->
                <div>{{.}}</div>
                {{end}}
            </div>
            {{end}}
        </div>
    </div>
</body>

</html>