<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Artist.Name}} - Artist Details</title>
    <link rel="icon" type="image/x-icon" href="{{.Artist.Image}}">
    <link rel="stylesheet" href="/assets/CSS/styles2.css">
</head>

<body>
    <div class="status-bar">
        <a href="/" class="back-button">Back</a>
        <div class="title">Artist - {{.Artist.Name}}</div>
    </div>
    <div class="artist-info">
        <div class="header">
            <img src="{{.Artist.Image}}" alt="{{.Artist.Name}}" />
            <h1>{{.Artist.Name}}</h1>
        </div>
        <div class="details">
            <p><strong>Members:</strong> {{.Members}}</p>
            <p><strong>Creation Date:</strong> {{.Artist.CreationDate}}</p>
            <p><strong>First Album:</strong> {{.Artist.FirstAlbum}}</p>
        </div>
    </div>
    <div class="details-container">
        <div class="section">
            <h2>Concert Location & Dates</h2>
            {{range $location, $dates := .LinkedConcerts}}
            <div class="item">
                <strong>{{$location}}:</strong>
                {{range $dates}}
                <div>{{.}}</div>
                {{end}}
            </div>
            {{end}}
        </div>
    </div>
</body>

</html>