<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Groupie Trackers - Error</title>
    <link rel="icon" type="image/x-icon" href="/assets/img/error-icon-25243.png">
    <link rel="stylesheet" href="/assets/CSS/styles3.css">
</head>

<body>
    <div class="status-bar">
        <a href="/" class="back-button">Back</a>
        <div class="title">Error</div>
    </div>
    <div class="error-container">
        <img src="/assets/img/error.png" alt="Error Image" />
        <h1>{{.Code}}</h1>
        <p>{{.ErrorMsg}}</p>
    </div>
</body>

</html>