<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Trackers</title>
    <link rel="icon" type="image/x-icon" href="/assets/img/istockphoto-941632502-612x612.jpg">
    <link rel="stylesheet" href="/assets/CSS/styles1.css">
</head>

<body>
    <div class="status-bar">
        <div>Groupie Trackers</div>
        <div class="search-container">
            <script src="/assets/JS/script.js"></script>
            <input type="text" id="searchBar" placeholder="search..." onkeyup="searchSuggestions()">
            <div id="suggestions" class="suggestions"></div>
        </div>
    </div>
    <div class="grid-container">
        {{range .}}
        <div class="grid-item">
            <a href="/artist?id={{.ID}}">
                <img src="{{.Image}}" alt="{{.Name}}">
                <h2>{{.Name}}</h2>
            </a>
        </div>
        {{end}}
    </div>
</body>

</html>